In [1]:
#Zadanie 2

print("Lorem ipsum dolor sit amet, consectetur adipiscing elit,\nsed do eiusmod tempor incididunt ut labore \net dolore magna aliqua.")

Lorem ipsum dolor sit amet, consectetur adipiscing elit,
sed do eiusmod tempor incididunt ut labore
et dolore magna aliqua.

In [2]:
#Zadanie 3

name = "Marta"
age = 21
height_in_meters = 1.83
is_student = True

print(name, age, height_in_meters, is_student)

Marta 21 1.83 True

In [5]:
#Zadanie 4

x = 13
y = 7

#suma
print("x + y =", x + y)

#różnica
print("x - y =", x - y)

#iloczyn
print("x * y =", x * y)

#iloraz
print("x / y =", x / y)

#modulo
print("x mod y =", x % y)

x + y = 20
x - y = 6
x * y = 91
x / y = 1.8571428571428572
x mod y = 6

In [11]:
#Zadanie 5

my_int = 5
my_float = 5.1

print("Liczby 1 i liczba 2 sa rowne:", my_int == my_float)
print("Liczby 1 i liczba 2 sa rozne:", my_int != my_float)
print("Liczba 1 jest wieksza lub rowna liczbie 2:", my_int >= my_float)
print("Liczba 1 jest mniejsza lub rowna liczbie 2:", my_int <= my_float)
print("Liczba 1 jest mniejsza niz liczba 2:", my_int < my_float)
print("Liczba 1 jest wieksza niz liczba 2:", my_int > my_float)

Liczby 1 i liczba 2 sa rowne: False
Liczby 1 i liczba 2 sa rozne: True
Liczba 1 jest wieksza lub rowna liczbie 2: False
Liczba 1 jest mniejsza lub rowna liczbie 2: True
Liczba 1 jest mniejsza niz liczba 2: True
Liczba 1 jest wieksza niz liczba 2: False

In [12]:
#Zadanie 6

zmienna_pierwsza = "pierwsza zmienna"
zmienna_druga = "druga zmienna"
print("<-", zmienna_pierwsza, "|", zmienna_druga, "->")

<- pierwsza zmienna | druga zmienna ->